/* From uiverse.io by @satyamchaudharydev */
.Loader {
    --clr: #3498db;
    /* color of spining  */
    width: 20px;
    height: 20px;
    position: relative;
   }
   
   .Loader:before, .Loader:after {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 10px solid transparent;
    border-top-color: var(--clr);
   }
   
   .Loader:before {
    z-index: 100;
    animation: spin 1s infinite;
   }
   
   .Loader:after {
    border: 10px solid #ccc;
   }
   
   @keyframes spin {
    0% {
     -webkit-transform: rotate(0deg);
     -ms-transform: rotate(0deg);
     -o-transform: rotate(0deg);
     transform: rotate(0deg);
    }
   
    100% {
     -webkit-transform: rotate(360deg);
     -ms-transform: rotate(360deg);
     -o-transform: rotate(360deg);
     transform: rotate(360deg);
    }
   }
   